body
	margin 0
	overflow-x hidden
	font-family -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
.menu
	width 100%
	position absolute
	top 0
	height 60px
	display flex
	align-items center
	justify-content space-between
	box-sizing border-box
	padding 18px 23px
	z-index 4
	&__logo
		display flex
		p
			color white
			font-weight 700
			text-transform capitalize
			cursor pointer
			transition-duration .2s
			&:hover
				opacity 0.8
	&__buttons
		display flex
		box-sizing border-box
	&__button
		margin 0 10px
		border 3px solid white
		border-radius 5px
		cursor pointer
		padding 6px 32px
		font-weight 400
		color white
		transition-duration .2s
		&:hover
			background white
			color #333
.header
	position relative
	width 100%
	height 750px
	display flex
	align-items center
	padding-left 70px
	box-sizing border-box
	overflow hidden
	&__background
		position absolute
		width 100%
		height 100%
		background url('../../images/background2.png')
		top 0
		left 0
		z-index 3
	&__goose
		background url('../../images/goose.png')
		background-size auto
		width 500px
		position absolute
		z-index 1
		left 0
		bottom 0
		height 519px
		background-size contain
	.proBackground
		transform skewY(3deg) translateY(-80px)
	&__title
		color white
		z-index 4
		display inline-block
		h1
			font-size 90px
			font-weight 900
			margin 0
		p
			font-size 22px
			font-weight 400

.container
	width 100%
	padding 20px 0 60px
	box-sizing border-box
	height 590px
	box-sizing border-box
	display flex
	justify-content left
	align-items center
	&__slot
		position relative
		height 100%
		box-sizing border-box
		width 100%
		max-width 600px
		padding-right 60px
		display flex
		align-content center
	&__card
		display block
		height 100%
		width 100%
		background-image url('../../images/photo1.jpeg')
		background-size cover
		position absolute
		left -100px
		border-radius 5px
		box-shadow inset 0 0 52px rgba(0, 0, 0, 0.07)
		transition-duration .32s
		transition-timing-function ease-in-out
		&:hover
			left -90px
	&__text
		h1
			font-size 44px
			color #555
		p
			font-size 18px
			color #777

.pros
	position relative
	width 100%
	padding 65px 0
	height 240px
	background #f7f7f7
	display grid
	grid-template 1fr / 1fr 1fr 1fr
	&__slot
		padding 8px
		box-sizing border-box
		width 100%
		height 100%
		display flex
		align-items center
		justify-content center
		text-align center
		flex-direction column
		z-index 2
	&__icon
		width 120px
		height 120px
		color #222
		background white
		border 1px solid #fff
		border-radius 100%
		display flex 
		justify-content center
		align-items center
		font-size 40px
		transition-duration .2s
		cursor default
		box-shadow 8px 8px 1px #eeeeee77
	&__content
		width 100%
		height 80px
		color #222
		h3
			color #fff
			margin 15px 0
			font-size 22px
			font-weight 800
		p
			color #fff
			margin 0

.quotes
	width 100%
	padding 100px 100px
	box-sizing border-box
	background-image url(../../images/background1.png)
	&__quote
		margin-bottom 50px
		display inline-block
		position relative
		min-width 300px
		max-width 750px
		height 190px
		border-radius 12px
		padding 10px
		background #fdfdfd
		box-shadow 0 0 2px rgb(0, 224, 136)
		&:last-child
			margin-bottom 0
		&:nth-child(even)
			float right
		&::before
			content ''
			position absolute
			width 60px
			height 60px
			background-image url('../../images/quote.png')
			background-size cover
			display flex
			align-items center
			justify-content center
	&__content
		margin-left 80px
		margin-right 15%
		font-size 1em
		color #999
	&__author
		position absolute
		bottom 10px
		right 20px
		color #ccc
		font-style italic

.contact
	width 100%
	position relative
	display flex
	&__form
		margin 0 auto
		padding 90px 20px
		min-width 350px
		width 50%
		max-width 800px
		box-sizing border-box
		z-index 2
	&__header
		font-size 32px
		font-weight 800
		margin 0 auto
		text-align center
		color white
		padding 10px 0
	&__macaca
		background url('../../images/macaca.png')
		background-size auto
		width 498px
		position absolute
		z-index 1
		left 0
		bottom 0
		height 519px
		background-size contain
	&__button, &__input, &__textarea
		margin 20px 10px
		width 100%
		text-align left
		height 45px
		font-size 16px
		font-family inherit
		border-radius 5px
		background white
		box-shadow inset 0 0 4px #eee
		display flex
		align-items center
		justify-content center
		color #222222
		box-shadow 0 0 2px #ddd
		border none
	&__input
		padding 15px
	&__textarea
		padding 15px
		min-height 300px
		max-width 100%
		min-width 100%
	&__button
		font-weight 700
		text-align center
		text-transform capitalize
		cursor pointer
		transition-duration .2s
		&:hover
			opacity .9

.footer
	width 100%
	display flex
	align-items center
	justify-content center
	padding 10px 20px
	box-sizing border-box
	background #222
	color #ddd

.proBackground
	top 0
	left 0
	width 100%
	height 100%
	position absolute
	background linear-gradient(60deg, #27e7ff, #00ca52)
	overflow hidden
	&:after
		content ''
		background url('https://www.transparenttextures.com/patterns/dark-mosaic.png')
		width 100%
		position absolute
		top -10%
		right 0
		height 120%
		opacity .24
		animation-name floating
		animation-duration 13s
		animation-iteration-count infinite

@keyframes rotate
	0%
		transform rotateZ(0deg)
	100%
		transform rotateZ(360deg)

.floating
	animation-name floating
	animation-duration 3s
	animation-iteration-count infinite
	&--slow
		animation-duration 5s
	&--normal
		animation-duration 3s
	&--fast
		animation-duration 2s

@keyframes floating
	0%
		transform translateY(0%)
	50%
		transform translateY(10%)
	100%
		transform translateY(0%)

.revealOnScroll
	opacity 0

.revealAnimation
	animation-name reveal
	animation-duration 2.5s
	animation-iteration-count 1
	animation-timing-function cubic-bezier(.83,-0.07,.28,1.25)
	animation-fill-mode forwards

@keyframes reveal
	0%
		opacity 0
		transform scale(0.5, 0.5)
	100%
		opacity 1
		transform scale(1, 1)

@media screen and (max-width: 770px)
	.container
		height 800px
		flex-direction column
		&__slot
			padding-left 25px
		&__card
			left 0
			bottom 0
			&:hover
				left 0
				bottom 5px
	.contact__form
		width 75%

@media screen and (max-width: 680px)
	.quotes
		padding 100px 40px

@media screen and (max-width: 610px)
	.quotes
		&__quote
			height 220px
	.contact__form
		width 90%
	.container
		&__slot
			padding 18px
			text-align center

@media screen and (max-width: 520px)
	.quotes
		&__quote
			height 260px
	.header
		&__goose
			left -100px
			bottom -168px

@media screen and (max-width: 506px)
	.quotes
		&__quote
			height 280px
	.menu
		&__buttons
			display none
	.header
		padding 0 15px
		&__title
			h1
				font-size 72px

@media screen and (max-width: 480px)
	.quotes
		&__content
			font-size 0.9em

@media screen and (max-width: 400px)
	.quotes
		&__quote
			height 385px
			box-sizing border-box
	.pros
		grid-template 1fr 1fr 1fr / 1fr
		height auto
	.header
		padding 0 15px
		&__title
			h1
				font-size 65px