body
	margin 0
	font-family -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
.menu
	width 100%
	position absolute
	top 0
	height 60px
	display flex
	align-items center
	justify-content space-between
	box-sizing border-box
	padding 18px 23px
	z-index 4
	&__logo
		display flex
		p
			color white
			font-weight 700
			text-transform capitalize
			cursor pointer
			transition-duration .2s
			&:hover
				opacity 0.8
	&__buttons
		display flex
		box-sizing border-box
	&__button
		margin 0 10px
		border 3px solid white
		border-radius 5px
		cursor pointer
		padding 6px 32px
		font-weight 400
		color white
		transition-duration .2s
		&:hover
			background white
			color #333
.header
	position relative
	width 100%
	height 600px
	display flex
	align-items center
	padding-left 70px
	box-sizing border-box
	&__background
		top 0
		left 0
		width 100%
		height 100%
		position absolute
		background linear-gradient(60deg, #27e7ff, #00ca52)
		overflow hidden
		transform skewY(3deg) translateY(-80px)
		z-index -1
		&:after
			content ''
			background url('https://www.transparenttextures.com/patterns/dark-mosaic.png')
			width 100%
			position absolute
			top 0
			right 0
			height 120%
			opacity .24
			animation-name floating
			animation-duration 13s
			animation-iteration-count infinite
	&__title
		color white
		z-index 2
		display inline-block
		h1
			font-size 90px
			font-weight 900
			margin 0
		p
			font-size 20px
			font-weight 400

.container
	width 100%
	padding 20px 0 60px
	box-sizing border-box
	height 560px
	box-sizing border-box
	display flex
	justify-content left
	align-items center
	&__slot
		position relative
		height 100%
		box-sizing border-box
		width 600px
		padding-right 60px
		display flex
		align-content center
	&__card
		display block
		height 100%
		width 100%
		background-image url('../../images/desktop.jpg')
		background-size cover
		position absolute
		left -100px
		border-radius 13px
		box-shadow inset 0 0 52px rgba(0, 0, 0, 0.07)
		transition-duration .32s
		transition-timing-function ease-in-out
		&:hover
			left -90px
	&__text
		h1
			font-size 44px
			color #555
		p
			font-size 18px
			color #777

.pros
	position relative
	width 100%
	padding 65px 0
	height 200px
	background #f7f7f7
	display grid
	grid-template 1fr / 1fr 1fr 1fr
	background linear-gradient(60deg, #27e7ff, #00ca52)
	overflow hidden
	&:after
		content ''
		display block
		background url('../../images/pattern.png')
		width 100%
		position absolute
		bottom 0
		right 0
		height 120%
		opacity .24
		animation-name floating
		animation-duration 13s
		animation-iteration-count infinite
	&__slot
		padding 8px
		box-sizing border-box
		width 100%
		height 100%
		display flex
		align-items center
		justify-content center
		text-align center
		flex-direction column
		z-index 2
	&__icon
		width 120px
		height 120px
		color #222
		background white
		border 1px solid #fff
		border-radius 100%
		display flex 
		justify-content center
		align-items center
		font-size 40px
		transition-duration .2s
		cursor default
		box-shadow 8px 8px 1px #eeeeee77
	&__content
		width 100%
		height 80px
		color #222
		h3
			color #fff
			margin 15px 0
			font-size 22px
			font-weight 800
		p
			color #fff
			margin 0

.quotes
	width 100%
	padding 100px
	box-sizing border-box
	&__quote
		margin-bottom 50px
		display inline-block
		position relative
		min-width 300px
		max-width 750px
		height 190px
		border-radius 12px
		padding 10px
		background #fdfdfd
		box-shadow 0 0 2px rgba(0, 0, 0, 0.2)
		&:nth-child(even)
			float right
		&::before
			content ''
			position absolute
			width 60px
			height 60px
			background-image url('../../images/quote.png')
			background-size cover
			display flex
			align-items center
			justify-content center
	&__content
		margin-left 80px
		margin-right 15%
		font-size 1em
		color #999
	&__author
		position absolute
		bottom 10px
		right 20px
		color #ccc
		font-style italic

@keyframes rotate
	0%
		transform rotateZ(0deg)
	100%
		transform rotateZ(360deg)

.floating
	animation-name floating
	animation-duration 3s
	animation-iteration-count infinite
	&--slow
		animation-duration 5s
	&--normal
		animation-duration 3s
	&--fast
		animation-duration 2s

@keyframes floating
	0%
		transform translateY(0%)
	50%
		transform translateY(10%)
	100%
		transform translateY(0%)