html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Awesome website template
    link(rel='stylesheet' href='build/css/style.css')    
  body
    .menu
      .menu__logo
        p Charles Swierczek
      .menu__buttons
        .menu__button About
        .menu__button Contact us
          
    .header
      .header__background
      .header__title 
        h1 Creative studio
        p Great solutions for your environment.
    script(src='src/js/index.js')

