html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Awesome website template
    link(rel='stylesheet' href='build/css/style.css')    
  body
    .menu
      .menu__logo
        p Charles Swierczek
      .menu__buttons
        .menu__button About
        .menu__button Contact us
          
    .header
      .proBackground
      .header__title
        h1 Awesome website
        p Great solutions for your environment.
    .container
      .container__slot.revealOnScroll
        .container__card
      .container__slot.revealOnScroll
        .container__text
          h1 About us
          p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    .pros
      .proBackground
      .pros__slot.revealOnScroll
        .pros__icon 🍓
        .pros__content
          h3 Pros #1
          p Description
      .pros__slot.revealOnScroll
        .pros__icon 🦕
        .pros__content
          h3 Pros #2
          p Description
      .pros__slot.revealOnScroll
        .pros__icon 🏅
        .pros__content
          h3 Pros #3
          p Description
    .quotes
      .quotes__quote.revealOnScroll
        .quotes__content
          p Ad mea facer detraxit menandri, cum prompta eruditi conclusionemque in. Nec bonorum inimicus at, modus atqui principes his id. Illum diceret pri ea, ut vix habeo utamur vidisse, ea inermis quaerendum sit. Pri ei quas tractatos suavitate, quot laoreet appellantur mel te. Ea blandit detracto mei, vero elit at pri, ius ubique facilisis ei.
        .quotes__author Adam Smith
      .quotes__quote.revealOnScroll
        .quotes__content
          p Illud detraxit per te, nullam persius vivendo ea eos, an eum eligendi perfecto. Erat tractatos iracundia vis ad, has senserit reprehendunt id, ex eum laoreet maiestatis. Usu ea rebum convenire definiebas, mei et diam causae, ne ius paulo scriptorem. Vocibus antiopam ullamcorper ex eum, cu tincidunt intellegebat sea, no eos torquatos scripserit.
          .quotes__author John Smith
      .quotes__quote.revealOnScroll
        .quotes__content
          p Ad mea facer detraxit menandri, cum prompta eruditi conclusionemque in. Nec bonorum inimicus at, modus atqui principes his id. Illum diceret pri ea, ut vix habeo utamur vidisse, ea inermis quaerendum sit. Pri ei quas tractatos suavitate, quot laoreet appellantur mel te. Ea blandit detracto mei, vero elit at pri, ius ubique facilisis ei.
        .quotes__author Bob Jackson
    .contact
      .proBackground
      .contact__form
        .contact__header Contact 💌
        input.contact__input.revealOnScroll(placeholder='Your email')
        textarea.contact__textarea.revealOnScroll(placeholder='Your message')
        .contact__button.revealOnScroll Send
    .footer Made with ❤ by Karol Świerczek
    script(src='src/js/index.js')

